{{#bp-layout direction="col" classNames="country-lv-card-outer"}}
    {{mb-chart-title title=title time=time area=area}}
    {{#bp-layout direction="row" classNames="country-lv-card-top"}}
        <p class="main-content">{{mainContent}}{{unit}}</p>
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="country-lv-card-mid"}}
        <p class="tag-content">{{producer}}</p>
        <p class="tag-content">{{prodName}}</p>
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="country-lv-card-bottom"}}
        <p class="detail-content">同比</p>
        {{#if (eq (str2num percentYear) 0)}}
            <p class="detail-content">{{percentYear}}%</p>
        {{else if (gt (str2num percentYear) 0)}}
            <p class="detail-content detail-red"><span class="triangle-up"></span>{{percentYear}}%</p>
        {{else}}
            <p class="detail-content detail-green"><span class="triangle-down"></span>{{percentYear}}%</p>
        {{/if}}
        <p class="detail-content">环比</p>
        {{#if (eq (str2num percentMonth) 0)}}
            <p class="detail-content">{{percentMonth}}%</p>
        {{else if (gt (str2num percentMonth) 0)}}
            <p class="detail-content detail-red"><span class="triangle-up"></span>{{percentMonth}}%</p>
        {{else}}
            <p class="detail-content detail-green"><span class="triangle-down"></span>{{percentMonth}}%</p>
        {{/if}}
    {{/bp-layout}}
{{/bp-layout}}
{{yield}}