{{#bp-layout direction="row" main="between" cross="center" classNames="chart-title-outer"}}
    {{#bp-layout direction="row" cross="center" classNames="chart-title-left"}}
        {{#if (not-eq marketName "")}}
            <p class="market-name">{{marketName}}</p>
        {{/if}}
        <p class="title-content">{{title}}</p>
        <p class="time-content">{{time}}</p>
        <p class="area-content">·{{area}}</p>
        {{#if helpFlag}}
            {{#bp-button 
                type="primary"
                iconOnly=true
                icon="abord"}}
            {{/bp-button}}
        {{/if}}
    {{/bp-layout}}
    {{#if switchFlag}}
        {{#bp-layout direction="row" cross="center" classNames="chart-title-right"}}
            {{#bp-button-group
                value=switchValue 
                type="radio" 
                onChange=(action (mut switchValue)) as |bg|}}
                {{#bg.button type="default" value=0}}Sales{{/bg.button}}
                {{#bg.button type="default" value=1}}Growth{{/bg.button}}
            {{/bp-button-group}}
        {{/bp-layout}}
    {{/if}}
{{/bp-layout}}
{{yield}}