{{#bp-layout direction='col' classNames='pro-show-table'}}
    <p class="pro-show-table-title mb-2">{{title}}</p>
    {{#if (eq type 'province')}}
        {{#bp-layout direction='col' classNames='table-area'}}
            <table class="table stall-point-table bg-white">
                <thead class="table-head">
                    <th>省份</th>
                    <th>Market Size</th>
                    <th>Market Growth</th>
                    <th>Product Sale</th>
                    <th>Product Share</th>
                    <th>Product Share Change</th>
                    <th>Product Growth</th>
                    <th>EI</th>
                </thead>
                <tbody class="table-body">
                    {{#each files as |item|}}
                        <tr class="title m-2">
                            <td>{{item.brand}}</td>
                            <td>{{item.sales}}</td>
                            <td>{{item.market}}</td>
                            <td>{{item.ms}}</td>
                            <td>{{item.growth}}</td>
                            <td>{{item.ei}}</td>
                            <td>{{item.growth}}</td>
                            <td>{{item.ei}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/bp-layout}}
    {{else if (eq type 'city')}}
        {{#bp-layout direction='col' classNames='table-area'}}
            <table class="table stall-point-table bg-white">
                <thead class="table-head">
                    <th>City</th>
                    <th>Reliable City</th>
                    <th>City Tier</th>
                    <th>Market Size</th>
                    <th>Market Growth</th>
                    <th>BMS Product Sales</th>
                    <th>BMS Product Share</th>
                    <th>BMS Product Change</th>
                    <th>Product Growth</th>
                    <th>EI</th>
                </thead>
                <tbody class="table-body">
                    {{#each files as |item|}}
                        <tr class="title m-2">
                            <td>{{item.brand}}</td>
                            <td>{{item.sales}}</td>
                            <td>{{item.market}}</td>
                            <td>{{item.ms}}</td>
                            <td>{{item.growth}}</td>
                            <td>{{item.ei}}</td>
                            <td>{{item.sales}}</td>
                            <td>{{item.market}}</td>
                            <td>{{item.ms}}</td>
                            <td>{{item.growth}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/bp-layout}}
    {{else}}
        {{#bp-layout direction='col' classNames='table-area'}}
            <table class="table stall-point-table bg-white">
                <thead class="table-head">
                    <th>Brand</th>
                    <th>Sales(Million)</th>
                    <th>Market Share</th>
                    <th>MS Change</th>
                    <th>Growth</th>
                    <th>EI</th>
                </thead>
                <tbody class="table-body">
                    {{#each proByCity as |item|}}
                        <tr class="title m-2">
                            <td>{{item.brand}}</td>
                            <td>{{num2mil-fixed2 item.sales}}</td>
                            <td>{{percent-num item.marketShare}}%</td>
                            <td>{{percent-num item.ms}}%</td>
                            <td>{{percent-num item.growth}}%</td>
                            <td>{{num-fixed4 item.ei}}</td>
                        </tr>
                    {{/each}}
                    <tr class="title m-2">
                        <td class="total">总计</td>
                        <td class="total">{{num2mil-fixed2 totalProObj.totalSales}}</td>
                        <td class="total">{{percent-num totalProObj.totalMarketShare}}</td>
                        <td class="total">{{percent-num totalProObj.totalMs}}</td>
                        <td class="total">{{percent-num totalProObj.totalGrowth}}</td>
                        <td class="total">{{num-fixed4 totalProObj.totalEi}}</td>
                    </tr>
                </tbody>
            </table>
        {{/bp-layout}}
    {{/if}}
{{/bp-layout}}