{{#bp-layout direction="col" classNames="mb-page-container analysis"}}
    {{#bp-layout direction="col" classNames="analysis-top"}}
        {{#link-to 'choose-channel' classNames='return-btn'}}返回{{/link-to}}
    {{/bp-layout}}
    {{#bp-layout direction="col" classNames="analysis"}}
        {{#bp-page-header as |ph|}}
            {{#ph.body as |body|}}
                {{#bp-layout direction='col' classNames='header-content-area'}}
                    {{#bp-layout direction='row' main='between'}}
                        <p class="header-title">县域渠道</p>
                        {{#bp-layout direction='row'}}
                            {{#bp-button type='default'}}生成PPT报告{{/bp-button}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{#bs-button active=notCollapsed onClick=(action "toggle")}}
                        {{#if collapsed}}
                            {{#bp-layout direction='row' cross='center'}}
                                {{bp-icon icon='right'}}
                                <p class="drop-title">数据说明</p>
                            {{/bp-layout}}
                        {{else}}
                            {{#bp-layout direction='row' cross='center'}}
                                {{bp-icon icon='down'}}
                                <p class="drop-title">数据名称</p>
                            {{/bp-layout}}
                        {{/if}}
                    {{/bs-button}}
                    {{log sampleCover}}
                    {{#bs-collapse collapsed=collapsed}}
                        {{#bp-layout direction='row' main='between' classNames='header-content mt-4'}}
                            {{#bp-layout direction='col' classNames='header-content-sub mt-4 pt-2'}}
                                {{#bp-layout direction="row" classNames="data-time mb-2"}}
                                    <p class="time-title mr-3">数据更新时间</p>
                                    <p class="time-content">{{timehelper/time2fullformat overallInfo.updateTime}}</p>
                                {{/bp-layout}}
                                {{#bp-layout direction="row" classNames="data-time mb-2"}}
                                    <p class="time-title mr-3">数据覆盖周期</p>
                                    <p class="time-content">{{timehelper/time2ymd overallInfo.coverStartTime}} ~ {{timehelper/time2ymd overallInfo.coverEndTime}}</p>
                                {{/bp-layout}}
                                {{#bp-layout direction="row" classNames="data-time mb-2 mt-3"}}
                                    <p class="time-title mr-3">医疗机构数</p>
                                    <p class="time-content">{{overallInfo.organizationNum}}</p>
                                {{/bp-layout}}
                                {{#bp-layout direction="row" classNames="data-time mb-2"}}
                                    <p class="time-title mr-3">行政区划数</p>
                                    <p class="time-content">{{overallInfo.adminAreasNum}}</p>
                                {{/bp-layout}}
                            {{/bp-layout}}
                            <div class="header-content-sub charts">
                                {{bp-bar-double eid='bp-bar-double' 
                                    xAxisData=xAxisDataHeader
                                    chartData=doubleData}}
                            </div>
                        {{/bp-layout}}
                    {{/bs-collapse}}
                {{/bp-layout}}
            {{/ph.body}}
        {{/bp-page-header}}
    {{/bp-layout}}
    {{tabs-bar cur_idx=cur_tab_idx  titles=tabs needAction=true onTabClicked=(action "onTabClicked")}}
    <div class="tab-content">
        {{#if (eq cur_tab_idx 0)}}
            {{#bp-layout direction='row' }}
                {{page-left-menu chc=true marketArr=model.marketData marketValue=curMarket dateType=curDateType dateArr=dateData dateValue=curDate}}
                {{#bp-layout direction='col' classNames='right-content-area mt-4'}}
                    {{#bp-layout direction='row' classNames=''}}
                        {{overall-market-size-card title='Market Size' value=(num2mil-fixed2 mktSize.firstObject.value) unit='Mil'classNames='mr-2 market-size-area'}}
                        {{overall-market-size-card title='Market Growth' value=(percent-num mktGrowth.firstObject.value) unit='%'classNames='mr-2 market-size-area'}}
                    {{/bp-layout}}
                    {{!-- {{#bp-layout direction='row' classNames='mt-4'}}
                        {{overall-market-share-card classNames='mr-2 market-size-area'}}
                        {{overall-market-share-card classNames='mr-2 market-size-area'}}
                        {{overall-market-share-card classNames='market-size-area'}}
                    {{/bp-layout}} --}}
                    {{#bp-layout direction='col' classNames='pro-show p-4 mt-4'}}
                        {{pro-show-table title='产品表现'}}
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='line-area mt-4 charts'}}
                        {{!-- {{mb-chart-title title="Competitive Landscape" time=productdimension.firstObject.ym switchFlag=true switchValue=proSaleLineSwitch}} --}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{!-- {{else if (eq cur_tab_idx 1)}}
            {{#bp-layout direction='row' }}
                {{page-left-menu regional=true}}
                {{#bp-layout direction='col' classNames='right-content-area mt-4'}}
                    <div class="region-show charts">
                            {{bp-bar-stack eid='bp-stack' 
                            title='stack title'
                            chartData=model.stackData}}
                        </div>
                    {{#bp-layout direction='col' classNames='pro-show mt-4 charts'}}

                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='line-area mt-4 charts'}}

                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}} --}}
        {{!-- {{else if (eq cur_tab_idx 1)}}
            {{#bp-layout direction='row' }}
                {{page-left-menu regional=true province=true}}
                {{#bp-layout direction='col' classNames='right-content-area mt-4'}}
                    {{#bp-layout direction='col' classNames='province-show charts'}}

                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='pro-show p-4 mt-4'}}
                        {{pro-show-table title='Provincial Performance' type='province'}}
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='line-area mt-4 charts'}}

                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}} --}}
        {{else if (eq cur_tab_idx 1)}}
            {{#bp-layout direction='row' }}
                {{page-left-menu chc=true onlyCity=true marketArr=model.marketData marketValue=curMarket dateType=curDateType dateArr=dateData dateValue=curDate cityArr=cityData cityValue=curCity}}
                {{#bp-layout direction='col' classNames='right-content-area mt-4'}}
                    {{#bp-layout direction='col' classNames='city-show charts'}}
                        {{bp-scatter eid='bp-scatter' 
                            title='scatter title'
                            chartData=model.scatterData}}
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='pro-show p-4 mt-4'}}
                        {{pro-show-table title='Product Performance by City'}}
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='pro-show p-4 mt-4'}}
                        {{pro-show-table title='City Performance' type='city'}}
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames='line-area mt-4 charts'}}

                    {{/bp-layout}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{/if}}
    </div>
{{/bp-layout}}